<div>
  <form novalidate class="simple-form">

  <fieldset class="form-group">
    <label for="formGroupExampleInput">first name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="first name" ng-model="person.firstName">
  </fieldset>
  <fieldset class="form-group">
    <label for="formGroupExampleInput2">last name</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="last name" ng-model="person.lastName">
  </fieldset>
   <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
    

  </form>
  <pre>person = {{person | json}}</pre>
</div>